* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4x);
    overflow-x: hidden;
    padding-top: var(--space-4x);
    padding-bottom: var(--space-3x);
}

iframe {
    border: none;
}