.article {
    width: 100vw;
    display: flex;
    padding: var(--space-1x);
    flex-direction: column;
}

.article__images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.images__img {
    width: 150px;
    height: 80px;
}

.article--cadre {
    position: relative;
    padding: var(--space-1x);
    border-radius: 5px;
}

.article--cadre::before,
.article--cadre::after {
    content: "";
    position: absolute;
    background-color: var(--couleur-noir);
}

.article--cadre::before {
    top: 15px;
    left: 15px;
    width: 60px;
    height: 2px;
}

.article--cadre::after {
    top: 15px;
    left: 15px;
    width: 2px;
    height: 60px;
}

.article__texts {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.article__texts--background {
    background-color: var(--couleur-vert-pomme);
    padding: 15px;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
}

.article__title {
    font-family: var(--typo-title);
    font-size: 2rem;
    color: var(--couleur-noir);
    margin-bottom: 30px;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: 204%;

}

.article__text {
    font-family: var(--typo-body);
    font-size: 1.2rem;
    color: var(--couleur-noir);
    margin-bottom: var(--space-1x);
}