.article__button {
    min-width: 100%;
    padding: 15px 20px;
    background-color: var(--couleur-noir);
    color: var(--couleur-blanc);
    font-size: 1rem;
    font-family: var(--typo-title);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1x);
    gap: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.article__button--style-3{
    background-color: var(--couleur-noir);
    color: var(--couleur-blanc);
    font-size: 15px;
    font-family: var(--typo-title);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1x);
    gap: 15px;
    padding: 10px 20px;
    text-transform: none;
    transition: background-color 0.3s ease;
    margin-top: var(--space-1x);
}

.article__button img {
    width: 16px;
    height: 16px;
}

.article__button:hover {
    background-color: var(--couleur-gris);
    color: var(--couleur-noir);
}


.article__button--style-2 {
    color: var(--couleur-blanc);
    min-width: 0;
    letter-spacing: 1.2px;
    background-color: var(--couleur-noir);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: center;
    margin-top: var(--space-3x);
    left: 40px;
    top: -60px;

    padding: 14px 20px;


    font-family: var(--typo-title);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.article__button--style-2:hover {
    background-color: var(--couleur-gris);
}

.article__button--form{
    
}