.article__images--carrousel {
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: var(--space-1x);
    position: relative;
    justify-content: start;
    margin-top: var(--space-1x);
}

.article__images--carrousel>* {
    flex: 0 0 100%;
    margin: 0;
    scroll-snap-align: center;
}

.carrousel__img {
    height: 100%;
    width: 20vw;
}

.carrousel__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-1x);
    width: 100%;
    gap: 15px;
}

.carrousel__button {
    padding: 30px 60px;

    display: flex;
    flex-direction: row;
    gap: var(--space-1x);
    width: 30px;
    height: 10px;
    background-color: var(--couleur-vert-pomme);
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--couleur-blanc);
    font-weight: 600;
}